#Character_image {
	padding-left: 2em;
}

div.action
{
	float: right;
	overflow: auto;
	display: inline-block;
	text-align: right;
}

div.image
{
    display: inline-block;
    vertical-align: top;
}

div.description
{
    display: inline-block;
    margin-left: 2em;
    vertical-align: middle;
}

ul
{
    margin-bottom: 0;
    margin-left: 2em;
}

div.readmore
{
    text-align: right;
}
