div.characterbox
{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 300px;
}

a.action
{
	padding-left: 10px;
}

#Document_document {
	padding-left: 2em;
}

div.document
{
    display: inline-block;
    vertical-align: top;
}

div.description
{
    display: inline-block;
    margin-left: 2em;
    vertical-align: middle;
}

ul
{
    margin-bottom: 0;
    margin-left: 2em;
}

div.readmore
{
    text-align: right;
}
